html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: local('BebasNeue-Regular'),
    url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 700;
}

$theme-main: #1C2E4A;
$theme-dark: #333333;

$bebas-font: 'BebasNeue-Regular';

@media screen and (max-width: 699.9px) {
    .header-wrapper {
        display: flex;
        justify-content: center;
        padding: 100px;
        background-color: $theme-main;
        color: #FFFFFF;
        font-family: $bebas-font;
        font-size: 25px;
    }
    
    .header-links-wrapper {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 5%;
    }
}

@media screen and (min-width: 700px) {
    .header-wrapper {
        display: flex;
        padding: 30px 10px 30px 20px;
        background-color: $theme-main;
        color: white;
        font-family: $bebas-font;
        font-size: 25px;
    }
}

.header-link, .active-header-link {
    text-decoration: none;
    user-select: none;
    color: #FFFFFF;
    margin: 0 8px 0 1px;
}

.active-header-link {
    text-decoration: underline;
}

.header-link:hover, .active-header-link:hover {
    color: #ACC8EA;
}

.dropdown-menu-navigate {
    font-size: 14px;   
}

.dropdown-control-navigate {
    font-size: 17.5px;
    max-width: 80px;
}

.dropdown-control-navigate:hover {
    cursor: pointer;
}

.Dropdown-option:first-child {
    display: none;
}

.Dropdown-option {
    max-width: 84px;
}

.Dropdown-option:hover {
    color: #ACC8EA;
    cursor: pointer;
}