<header>
    <div class='header-wrapper'>
        <div>
            Full Stack Boys - Group 2
            <div class='header-links-wrapper'>
                <!-- <NavLink to='/login' className={(navData) => navData.isActive ? 'active-header-link' : 'header-link'}>Login</NavLink> -->
                <!-- <NavLink exact={'true'} to='/' className={(navData) => navData.isActive ? 'active-header-link' : 'header-link'}>Home</NavLink> -->
            </div>
            <!-- <Dropdown
                options={options}
                value={defaultOption}
            /> -->
        </div>
    </div>
</header>