.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 65px auto;
    border-radius: 15px;
    box-shadow: 0 1px 50px 1px rgba(0, 0, 0, 0.1);
}
.login-header {
    color: #acc8ea;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 32px;
    user-select: none;
}
.login-input {
    width: 76%;
    color: #1c2e4a;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Ubuntu', sans-serif;
}
.login-input:focus {
    border: 2px solid #acc8ea !important;
}
.login-btn {
    color: #fff;
    background: #1c2e4a;
    padding: 10px 40px 10px 40px;
    border-radius: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
    user-select: none;
}
.login-btn:hover {
    cursor: pointer;
}
.forgot-link {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #acc8ea;
}
.error-message {
    color: #ba3737;
    margin-bottom: 25px;
}
