<div class='movie-details-wrapper'>
    <div class='movie-details-header'>
        <div class='back'>&#8592;</div>
        <div class='movie-details-container'>
            <div class='movie-details-banner-container'>
                <img src=banner class='movie-details-banner' />
            </div>
            <div class='movie-details-bar'>
                <span class='movie-details-title'>title</span>
                <div class='movie-details-genre-and-rating '>
                    <!-- genre | <DisplayAverageReview /> -->
                    <!-- <ReactStars
                        count={5}
                        size={19}
                        value={loggedInUserRating}
                        activeColor='#FFFFFF'
                    /> -->
                </div>
            </div>
            <div class='movie-details-actors-wrapper'>
                <div class='movie-details-actors-header'>Actors</div>
                <div class='movie-details-actors-container'>
                    <!-- <DisplayActors /> -->
                </div>
                <div class='movie-details-overview-wrapper'>
                    <div class='movie-details-overview-header'>Overview</div>
                    <div class='movie-details-overview-description'>
                        overview
                        <img src=poster class='movie-details-overview-poster' />
                    </div>
                </div>
                <div class='add-review-btn' (click)="toggleModal()">Add Review &#x2B;</div>

                <!-- {modal ? <ReviewModal toggle={toggleModal} movieId={movie_id} /> : null} -->
                <app-review-modal [movie_id]="movie_id" [isModalOpen]="openModal" (toggleModalEvent)="setModal($event)"></app-review-modal>
                <!-- <DisplayReviews /> -->
            </div>
        </div>
    </div>
</div>

<div class='reviews-wrapper'>
    <!-- {reviews.map((review, i) => {
        let char = review.review.length;
        let reviewToString = String(review.review);
        return ( -->
            <!-- <div key={i} class='reviews-container'>
                {(review.user_id === loggedInUser || admin) ? ( -->
                    <!-- <>
                        <span class='remove-review' onClick={() => removeReview(review.review_id)}>&#10005;</span>
                        {char <= 50 ? (
                            //Looks at each character limit in reviews and if it's more than 250 then it will display extended div
                            <div>
                                <div class='review-description'>{filter.clean(review.review)}</div>
                                <div class='reviewer-name'>-{review.user}</div>
                            </div>
                        ) : (
                            <div>
                                {readMore === true && clickedReview === review.review_id ? (
                                    <>
                                        <div class='review-description'>{filter.clean(review.review)}</div>
                                        <div class='reviewer-name'>-{review.user}</div>
                                        <div class='read-more-link' onClick={toggleText}>Read Less</div>
                                    </>
                                ) : (
                                    <>
                                        <div class='review-description'>
                                            {filter.clean(`${reviewToString.substring(0, 50)}...`)}
                                        </div>
                                        <div class='reviewer-name'>-{review.user}</div>
                                        <div class='read-more-link' onClick={() => toggleText(review.review_id)}>Read More</div>
                                    </>
                                )}
                            </div>
                        )}
                    </>
                ) : (
                    <>
                        {char <= 50 ? (
                            //Looks at each character limit in reviews and if it's more than 250 then it will display extended div
                            <div>
                                <div class='review-description'>{filter.clean(review.review)}</div>
                                <div class='reviewer-name'>-{review.user}</div>
                            </div>
                        ) : (
                            <div>
                                {readMore === true && clickedReview === review.review_id ? (
                                    <>
                                        <div class='review-description'>{filter.clean(review.review)}</div>
                                        <div class='reviewer-name'>-{review.user}</div>
                                        <div class='read-more-link' onClick={toggleText}>Read Less</div>
                                    </>
                                ) : (
                                    <>
                                        <div class='review-description'>
                                            {filter.clean(`${reviewToString.substring(0, 50)}...`)}
                                        </div>
                                        <div class='reviewer-name'>-{review.user}</div>
                                        <div class='read-more-link' onClick={() => toggleText(review.review_id)}>Read More</div>
                                    </>
                                )}
                            </div>
                        )}
                    </> -->
                <!-- )}
            </div>
        )
    })} -->
</div>

<div>
    <!-- {actors && actors.map((actor, i) => {
        return (
            <div key={i} class='actor'>
                <img
                    src={actor.pic === null ? '/images/placeholder.png' : `http://image.tmdb.org/t/p/w500${actor.pic}`}
                    alt={actor.name}
                    class='movie-details-actor'
                />
                <div class='movie-details-actor-name'>{`${actor.name}`}</div>
            </div>
        )
    })} -->
</div>

<!-- <span>
    Total User Rating: {average}
</span> -->