<div class='movie-landing-wrapper'>
    <!-- <Search onSearch={changeMovies} /> -->
    <div class='movie-landing-header-wrapper'>
        <div class='movie-landing-header'>
            Movies
            <div class='movie-landing-page'>Page {{pageNum}}</div>
        </div>
    </div>
    <div class='movie-landing-clickable-wrapper'>
        <div *ngFor="let movie of moviesArray; let i = index" [attr.data-index]="i">
            <app-movie-image (click)="sendData(i)" [movies]=movie></app-movie-image>
        </div>
    </div>
    <div class='page-switch-btn-wrapper'>
        <div>
            <div *ngIf="pageNum !== 1">
                <div class='page-switch-btn btn-prev' (click)="changePageDown()">
                    Previous
                </div>
                <div class='btn-first' (click)="changeToFirstPage()">
                    First Page
                </div>
            </div>
            <div class='bottom-page-number'>Page {{pageNum}}</div>
            <div class='page-switch-btn btn-next' (click)="changePageUp()">
                Next
            </div>
        </div>
    </div>
</div>