<div>
  <h1>Landing</h1>
  <nav>
    <a class="button" routerLink="/">Home</a>
    <a class="button" routerLink="/landing" routerLinkActive="active">Test Landing</a>
    <a class="button" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="button" routerLink="/register" routerLinkActive="active">Register</a>
    <a class="button" routerLink="/delete-account" routerLinkActive="active">Delete Account</a>
    <a class="button" routerLink="/change-password" routerLinkActive="active">Change Password</a>
  </nav>
</div>
<router-outlet></router-outlet>