<header>
  <div class='header-wrapper'>
    <nav>
      Full Stack Boys - Group 2
      <div class='header-links-wrapper'>
        <a class="header-link" routerLink="/landing" routerLinkActive="active">Home</a>
        <a class="header-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="header-link" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="header-link" routerLink="/delete-account" routerLinkActive="active">Delete Account</a>
        <a class="header-link" routerLink="/change-password" routerLinkActive="active">Change Password</a>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>