<div>
  <h1>Landing</h1>
  <nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/details" routerLinkActive="active">Movie Details</a>
    <a routerLink="/delete-account" routerLinkActive="active">Delete Account</a>
    <a routerLink="/header" routerLinkActive="active">Header</a>
    <a routerLink="/movie-image" routerLinkActive="active">Movie Image</a>
    <a routerLink="/movie-landing" routerLinkActive="active">Movie Landing</a>
    <a routerLink="/review-modal" routerLinkActive="active">Review Modal</a>
    <a routerLink="/search" routerLinkActive="active">Search</a>
    <a routerLink="/change-password" routerLinkActive="active">Change Password</a>
  </nav>
</div>
<router-outlet></router-outlet>
